<nb-card accent="info" size="medium">
  <nb-card-header><h2> Task </h2></nb-card-header>
  <nb-card-body>
    <div class="row"><h5> Description </h5></div>
    <div class="row">A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
      Originally, nebula was a name for any diffuse astronomical object,
      including galaxies beyond the Milky Way.
    </div>

    <div class="row"><h5> Skills </h5></div>
    <div class="row">

      <div class="col-auto">
        <button nbButton size="small">HTML</button>
      </div>
      <div class="col-auto">
        <button nbButton size="small">JS</button>
      </div>
      <div class="col-auto">
        <button nbButton size="small">CSS</button>
      </div>

    </div>
    <div class="row justify-content-start ">
      <div class="col-auto"><h5> Bounty: </h5></div>
      <div class="col-auto" style="padding-top: 10px"><p> 36 Credits </p></div>
    </div>


  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="success"> Apply</button>
  </nb-card-footer>

