<nb-card accent="info" size="large">
  <nb-card-header><h2> Project Name </h2></nb-card-header>
  <nb-card-body style="padding: 40px">
    <div class="row"><h4> Description </h4></div>
    <div class="row">A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
      Originally, nebula was a name for any diffuse astronomical object,
      including galaxies beyond the Milky Way.
    </div>

    <div class="row" style="margin-top: 20px;"><h4> Skills </h4></div>
    <div class="row">

      <div class="col-auto">
        <button nbButton size="small">HTML</button>
      </div>
      <div class="col-auto">
        <button nbButton size="small">JS</button>
      </div>
      <div class="col-auto">
        <button nbButton size="small">CSS</button>
      </div>

    </div>
    <div class="row" style="margin-top: 20px;"><h4> Bounty: </h4></div>
    <div class="row" style="padding-top: 10px"><p> 36 Credits </p></div>


  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="danger"> Delete Micro Task</button>
  </nb-card-footer>

