<div class="row">
  <div class="col-xxl-3">
    <div class="row">
      <div>

        <img src="../../../assets/images/nick.png"
             alt="nick" class="img-thumbnail">
      </div>
    </div>
  </div>

  <div class="col-xxl-9">
    <nb-card size="large">
      <nb-card-body>

          <h2> Çınar Kızıltepe </h2>
          <h5 style="margin-bottom: 20px;"> 'Task Master' </h5>

          <h5>Level 4</h5>

          <nb-progress-bar [value]="47" status="warning" size="giant" style="margin-bottom: 20px;">Exp: 420</nb-progress-bar>

        <nb-card size="small" accent="success" style="padding: 20px">
          <h3> Badges </h3>
          <div >
            <nb-user
              name="Natural Leader"
              size="giant"
              picture="../../../assets/images/badges/natural.jpeg">
            </nb-user>
            <div style="height: 20px;"></div>
            <nb-user
              name="High Achiever"
              size="giant"
                     picture="../../../assets/images/badges/flag.jpg">
            </nb-user>
            <div style="height: 20px;"></div>
            <nb-user size="giant"
                     name="Team Member"
                     picture="../../../assets/images/badges/clap.jpeg">
            </nb-user>
          </div>
        </nb-card>

      </nb-card-body>
    </nb-card>
  </div>
</div>


<div>
  <nb-card>
    <nb-card-body>
      <div>
        <h1> Skills </h1>
      </div>

      <div class="row">

        <div class="col-xxl-2 square">
        <nb-card status="danger">
          <nb-card-header>Java</nb-card-header>
          <nb-card-body class="row">
            <nb-icon icon="star"></nb-icon>
            <nb-icon icon="star"></nb-icon>
          </nb-card-body>
        </nb-card>
        </div>

        <div class="col-xxl-2 square">
        <nb-card status="danger">
          <nb-card-header>React Native</nb-card-header>
          <nb-card-body>
            <nb-icon icon="star"></nb-icon>
            <nb-icon icon="star"></nb-icon>
            <nb-icon icon="star"></nb-icon>
          </nb-card-body>
        </nb-card>
        </div>
        <div class="col-xxl-2 square">
          <nb-card status="danger">
            <nb-card-header>Content Creation</nb-card-header>
            <nb-card-body>
              <nb-icon icon="star"></nb-icon>
              <nb-icon icon="star"></nb-icon>
            </nb-card-body>
          </nb-card>
        </div>
      </div>

      <div class="row">
        <div class="col-xxl-2 square">
        <nb-card status="danger">
          <nb-card-header>Public Speaking</nb-card-header>
          <nb-card-body>
            <nb-icon icon="star"></nb-icon>
            <nb-icon icon="star"></nb-icon>
            <nb-icon icon="star"></nb-icon>
          </nb-card-body>
        </nb-card>
      </div>

        <div class="col-xxl-2 square">
          <nb-card status="danger">
            <nb-card-header>Team Management</nb-card-header>
            <nb-card-body>
              <nb-icon icon="star"></nb-icon>
              <nb-icon icon="star"></nb-icon>
              <nb-icon icon="star"></nb-icon>
              <nb-icon icon="star"></nb-icon>
              <nb-icon icon="star"></nb-icon>
            </nb-card-body>
          </nb-card>
        </div>

        <div class="col-xxl-2 square">
          <nb-card status="danger">
            <nb-card-header>Digital Marketing</nb-card-header>
            <nb-card-body>
              <nb-icon icon="star"></nb-icon>
              <nb-icon icon="star"></nb-icon>
              <nb-icon icon="star"></nb-icon>
            </nb-card-body>
          </nb-card>
        </div>
      </div>



    </nb-card-body>
  </nb-card>
</div>
<div>
  <nb-card>
    <nb-card-body>
      <div>
        <h1> Testimonials </h1>
      </div>

      <div class="row">
        <div class="col">
          <nb-flip-card>
            <nb-card-front>
              <nb-card size="tiny" status="danger">
                <nb-card-header> Amazon Web Services </nb-card-header>
                <nb-card-body>
                  <nb-user size="giant"
                           name="Kate"
                           title="CTO"
                           picture="../../../assets/images/kate.png">
                  </nb-user>
                </nb-card-body>
              </nb-card>
            </nb-card-front>
            <nb-card-back>
              <nb-card size="tiny">
                <nb-card-body>
                  JUAN
                </nb-card-body>
              </nb-card>
            </nb-card-back>
          </nb-flip-card>
        </div>
        <div class="col">
          <nb-flip-card>
            <nb-card-front>
              <nb-card size="tiny" status="success">
                <nb-card-header> Facebook </nb-card-header>
                <nb-card-body>
                  <nb-user size="giant"
                           name="Hayko Cepkin"
                           title="Product Manager"
                           picture="../../../assets/images/nick.png">
                  </nb-user>
                </nb-card-body>
              </nb-card>
            </nb-card-front>
            <nb-card-back>
              <nb-card size="tiny">
                <nb-card-body>
                  An amazing team manager, managing teams on great scales and with supreme management. I would have him manage my teams any day. Always trust him with my teams and management, for he is a great and cool manager.
                </nb-card-body>
              </nb-card>
            </nb-card-back>
          </nb-flip-card>
        </div>
        <div class="col">
          <nb-flip-card>
            <nb-card-front>
              <nb-card size="tiny" status="info">
                <nb-card-header> Turkcell </nb-card-header>
                <nb-card-body>
                  <nb-user size="giant"
                           name="John Galt"
                           title="Sr. Engineer"
                           picture="../../../assets/images/jack.png">
                  </nb-user>
                </nb-card-body>
              </nb-card>
            </nb-card-front>
            <nb-card-back>
              <nb-card size="tiny">
                <nb-card-body>
                  The way he speaks in public is enough to make a grown man cry. He could lead millions into battle
                  and I would be more than glad to be on his side as we march. His voice is so mesmerising, it is said
                  that angels stop to listen.
                </nb-card-body>
              </nb-card>
            </nb-card-back>
          </nb-flip-card>
        </div>
      </div>

    </nb-card-body>
  </nb-card>
</div>




