<div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div>

        <img style="width:400px;height:400px;border-radius:%20;" src="https://www.w3schools.com/images/picture.jpg"
             alt="kate" class="img-thumbnail">

      </div>
    </div>
  </div>

  <div class="col-xxl-7">
    <nb-card size="large">
      <nb-card-body>

        <div class="align-items-center" style="padding: 5px;">
          <h2 class="col-auto"> Çınar Kızıltepe </h2>
          <h3 class="col-auto"> 'Farmer' </h3>
        </div>

        <div style="padding: 5px;">
          <h4>Level 4</h4>
        </div>

        <div style="padding: 5px;">
          <nb-progress-bar [value]="47" status="warning">Exp: 420</nb-progress-bar>
        </div>

        <nb-card size="small" accent="success" style="border-width: 2px; border-color: #3A3A3A ">
          <h3 class="text-center"> Badges </h3>
        </nb-card>

      </nb-card-body>
    </nb-card>
  </div>
</div>


<div>
  <nb-card>
    <nb-card-body>
      <div>
        <h1> Skills</h1>
      </div>

      <nb-card>
        <nb-card-body>
          <div class="row">
            <div class="col-auto">
              <button nbButton size="small">HTML</button>
            </div>
            <div class="col-auto">
              <button nbButton size="small">JS</button>
            </div>
            <div class="col-auto">
              <button nbButton size="small">CSS</button>
            </div>
          </div>
        </nb-card-body>
      </nb-card>

    </nb-card-body>
  </nb-card>
</div>
<div>
  <nb-card>
    <nb-card-body>
      <div>
        <h1> Testimonials </h1>
      </div>

      <div class="row">
        <div class="col">
          <nb-flip-card>
            <nb-card-front>
              <nb-card size="tiny" accent="info">
                <nb-card-header> Microsoft </nb-card-header>
                <nb-card-body>
                  <nb-user size="giant"
                           name="John Doe"
                           title="Engineer"
                           picture="https://via.placeholder.com/50/4479e7/ffffff?Text=IMG">
                  </nb-user>
                </nb-card-body>
              </nb-card>
            </nb-card-front>
            <nb-card-back>
              <nb-card size="tiny">
                <nb-card-body>
                  A nebula is an interstellar cloud of dust, hydrogen,
                  helium and other ionized gases.
                  Originally, nebula was a name for
                  any diffuse astronomical object,
                  including galaxies beyond the Milky Way.
                </nb-card-body>
              </nb-card>
            </nb-card-back>
          </nb-flip-card>
        </div>
        <div class="col">
          <nb-flip-card>
            <nb-card-front>
              <nb-card size="tiny" status="success">
                <nb-card-header> Facebook </nb-card-header>
                <nb-card-body>
                  <nb-user size="giant"
                           name="John Doe"
                           title="Engineer"
                           picture="https://via.placeholder.com/50/4479e7/ffffff?Text=IMG">
                  </nb-user>
                </nb-card-body>
              </nb-card>
            </nb-card-front>
            <nb-card-back>
              <nb-card size="tiny">
                <nb-card-body>
                  A nebula is an interstellar cloud of dust, hydrogen,
                  helium and other ionized gases.
                  Originally, nebula was a name for
                  any diffuse astronomical object,
                  including galaxies beyond the Milky Way.
                </nb-card-body>
              </nb-card>
            </nb-card-back>
          </nb-flip-card>
        </div>
        <div class="col">
          <nb-flip-card>
            <nb-card-front>
              <nb-card size="tiny" status="info">
                <nb-card-header> Havelsan </nb-card-header>
                <nb-card-body>
                  <nb-user size="giant"
                           name="John Doe"
                           title="Engineer"
                           picture="https://via.placeholder.com/50/4479e7/ffffff?Text=IMG">
                  </nb-user>
                </nb-card-body>
              </nb-card>
            </nb-card-front>
            <nb-card-back>
              <nb-card size="tiny">
                <nb-card-body>
                  A nebula is an interstellar cloud of dust, hydrogen,
                  helium and other ionized gases.
                  Originally, nebula was a name for
                  any diffuse astronomical object,
                  including galaxies beyond the Milky Way.
                </nb-card-body>
              </nb-card>
            </nb-card-back>
          </nb-flip-card>
        </div>
      </div>

    </nb-card-body>
  </nb-card>
</div>




