@import '../../../node_modules/@nebular/theme/styles/theming';
@import '../../../node_modules/@nebular/theme/styles/themes/default';


$nb-themes: nb-register-theme((

  color-primary-100: #CBFDE5,
  color-primary-200: #97FCD6,
  color-primary-300: #63F6CC,
  color-primary-400: #3CEECB,
  color-primary-500: #01E4CC,
  color-primary-600: #00C4C1,
  color-primary-700: #0097A4,
  color-primary-800: #006D84,
  color-primary-900: #00506D,
  color-primary-transparent-100: rgba(1, 228, 204, 0.08),
  color-primary-transparent-200: rgba(1, 228, 204, 0.16),
  color-primary-transparent-300: rgba(1, 228, 204, 0.24),
  color-primary-transparent-400: rgba(1, 228, 204, 0.32),
  color-primary-transparent-500: rgba(1, 228, 204, 0.4),
  color-primary-transparent-600: rgba(1, 228, 204, 0.48),
  color-success-100: #E8FCD5,
  color-success-200: #CDF9AD,
  color-success-300: #A6ED81,
  color-success-400: #80DB5E,
  color-success-500: #4CC42F,
  color-success-600: #32A822,
  color-success-700: #1D8D17,
  color-success-800: #0E7111,
  color-success-900: #095E11,
  color-success-transparent-100: rgba(76, 196, 47, 0.08),
  color-success-transparent-200: rgba(76, 196, 47, 0.16),
  color-success-transparent-300: rgba(76, 196, 47, 0.24),
  color-success-transparent-400: rgba(76, 196, 47, 0.32),
  color-success-transparent-500: rgba(76, 196, 47, 0.4),
  color-success-transparent-600: rgba(76, 196, 47, 0.48),
  color-info-100: #D1ECFE,
  color-info-200: #A3D5FE,
  color-info-300: #75BAFE,
  color-info-400: #53A1FD,
  color-info-500: #1B79FC,
  color-info-600: #135DD8,
  color-info-700: #0D45B5,
  color-info-800: #083092,
  color-info-900: #052178,
  color-info-transparent-100: rgba(27, 121, 252, 0.08),
  color-info-transparent-200: rgba(27, 121, 252, 0.16),
  color-info-transparent-300: rgba(27, 121, 252, 0.24),
  color-info-transparent-400: rgba(27, 121, 252, 0.32),
  color-info-transparent-500: rgba(27, 121, 252, 0.4),
  color-info-transparent-600: rgba(27, 121, 252, 0.48),
  color-warning-100: #FEF8CE,
  color-warning-200: #FEF09D,
  color-warning-300: #FDE46C,
  color-warning-400: #FBD847,
  color-warning-500: #F9C60C,
  color-warning-600: #D6A508,
  color-warning-700: #B38606,
  color-warning-800: #906803,
  color-warning-900: #775302,
  color-warning-transparent-100: rgba(249, 198, 12, 0.08),
  color-warning-transparent-200: rgba(249, 198, 12, 0.16),
  color-warning-transparent-300: rgba(249, 198, 12, 0.24),
  color-warning-transparent-400: rgba(249, 198, 12, 0.32),
  color-warning-transparent-500: rgba(249, 198, 12, 0.4),
  color-warning-transparent-600: rgba(249, 198, 12, 0.48),
  color-danger-100: #FFE8D8,
  color-danger-200: #FFCCB2,
  color-danger-300: #FFA98B,
  color-danger-400: #FF886F,
  color-danger-500: #FF523F,
  color-danger-600: #DB312E,
  color-danger-700: #B71F29,
  color-danger-800: #931426,
  color-danger-900: #7A0C24,
  color-danger-transparent-100: rgba(255, 82, 63, 0.08),
  color-danger-transparent-200: rgba(255, 82, 63, 0.16),
  color-danger-transparent-300: rgba(255, 82, 63, 0.24),
  color-danger-transparent-400: rgba(255, 82, 63, 0.32),
  color-danger-transparent-500: rgba(255, 82, 63, 0.4),
  color-danger-transparent-600: rgba(255, 82, 63, 0.48)

), custom-theme, default);
