// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: #f7f9fc,
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), default, default);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: #252547,
  slide-out-shadow-color: 2px 0 3px #29157a,
  slide-out-shadow-color-rtl: -2px 0 3px #29157a,
), cosmic, cosmic);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: linear-gradient(270deg, #edf1f7 0%, #e4e9f2 100%),
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), corporate, corporate);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), dark, dark);


$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: #f7f9fc,
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,

  color-primary-100: #EAFDF7,
  color-primary-200: #D7FBF2,
  color-primary-300: #BFF4EB,
  color-primary-400: #AAE9E4,
  color-primary-500: #8CDADB,
  color-primary-600: #66B3BC,
  color-primary-700: #468D9D,
  color-primary-800: #2C687F,
  color-primary-900: #1A4D69,
  color-primary-transparent-100: rgba(140, 218, 219, 0.08),
  color-primary-transparent-200: rgba(140, 218, 219, 0.16),
  color-primary-transparent-300: rgba(140, 218, 219, 0.24),
  color-primary-transparent-400: rgba(140, 218, 219, 0.32),
  color-primary-transparent-500: rgba(140, 218, 219, 0.4),
  color-primary-transparent-600: rgba(140, 218, 219, 0.48),
  color-success-100: #CFFBD1,
  color-success-200: #A1F8AE,
  color-success-300: #6FEC8F,
  color-success-400: #49D97C,
  color-success-500: #17C164,
  color-success-600: #10A563,
  color-success-700: #0B8A5E,
  color-success-800: #076F56,
  color-success-900: #045C4F,
  color-success-transparent-100: rgba(23, 193, 100, 0.08),
  color-success-transparent-200: rgba(23, 193, 100, 0.16),
  color-success-transparent-300: rgba(23, 193, 100, 0.24),
  color-success-transparent-400: rgba(23, 193, 100, 0.32),
  color-success-transparent-500: rgba(23, 193, 100, 0.4),
  color-success-transparent-600: rgba(23, 193, 100, 0.48),
  color-info-100: #D6E8FE,
  color-info-200: #ADCFFE,
  color-info-300: #85B2FD,
  color-info-400: #669AFB,
  color-info-500: #3472F9,
  color-info-600: #2657D6,
  color-info-700: #1A40B3,
  color-info-800: #102C90,
  color-info-900: #091E77,
  color-info-transparent-100: rgba(52, 114, 249, 0.08),
  color-info-transparent-200: rgba(52, 114, 249, 0.16),
  color-info-transparent-300: rgba(52, 114, 249, 0.24),
  color-info-transparent-400: rgba(52, 114, 249, 0.32),
  color-info-transparent-500: rgba(52, 114, 249, 0.4),
  color-info-transparent-600: rgba(52, 114, 249, 0.48),
  color-warning-100: #FFFCD3,
  color-warning-200: #FFFAA9,
  color-warning-300: #FFF67E,
  color-warning-400: #FFF25D,
  color-warning-500: #FFED28,
  color-warning-600: #DBC91D,
  color-warning-700: #B7A714,
  color-warning-800: #93850C,
  color-warning-900: #7A6C07,
  color-warning-transparent-100: rgba(255, 237, 40, 0.08),
  color-warning-transparent-200: rgba(255, 237, 40, 0.16),
  color-warning-transparent-300: rgba(255, 237, 40, 0.24),
  color-warning-transparent-400: rgba(255, 237, 40, 0.32),
  color-warning-transparent-500: rgba(255, 237, 40, 0.4),
  color-warning-transparent-600: rgba(255, 237, 40, 0.48),
  color-danger-100: #FFEBDF,
  color-danger-200: #FFD1C0,
  color-danger-300: #FFB3A1,
  color-danger-400: #FF968A,
  color-danger-500: #FF6663,
  color-danger-600: #DB4852,
  color-danger-700: #B73146,
  color-danger-800: #931F3B,
  color-danger-900: #7A1334,
  color-danger-transparent-100: rgba(255, 102, 99, 0.08),
  color-danger-transparent-200: rgba(255, 102, 99, 0.16),
  color-danger-transparent-300: rgba(255, 102, 99, 0.24),
  color-danger-transparent-400: rgba(255, 102, 99, 0.32),
  color-danger-transparent-500: rgba(255, 102, 99, 0.4),
  color-danger-transparent-600: rgba(255, 102, 99, 0.48)
), light, default);
